$bg-base: #202b38;
$bg-light: #2a394b;

$btn-base: #161f27;
$btn-hover: #324759;
$btn-active: #0b7392;

$tx-base-color: #e4f2f5;
$tx-soft-color: #bfc8c9;

$o-player-color: rgba(#f24, 0.14);
$x-player-color: rgba(#0f7, 0.1);
$draw-cell-color: rgba(#333, 0.7);

$border-radius: 7px;
$bdr-07: rgba($tx-soft-color, 0.7);

$time-long: 300ms;
$time-short: 180ms;
